
@{
    ViewData["Title"] = "SizeGuideTable";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<div class="modal-fullscreen-md-down">
    <img src="/images/bang-size.webp" class="img-fluid" />
</div>